.btn-form {
  align-items: center;
  padding: 10px;
}

.btn-user {
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: aliceblue;
  background-color: rgb(55, 44, 116);
  border-radius: 2px;
  width: 100px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.body {
  height: 800px;
}

h1 {
  font-family: Roboto,sans-serif;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25;
}
.formDetail {
  margin: 40px;
  width: 480px;
  height: 530px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-items: justify;

}

.icon {
  right: 85%;
  margin-top: 25px;
  color: rgb(94, 212, 185);
}
.iconRed{
  right: 85%;
  margin-top: 25px;
  color: red
}