
.olvidarPassword {
    font-size: 15px;
    color: rgb(69, 68, 68);
    font-family: "Avenir LTS Regular";
    /* font-weight: bold; */
    text-decoration: underline;
    cursor: pointer;
    border: none;
    background: transparent;
    margin-top: 10px;
    margin-left: 255px;
}