.box {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  background-color: rgb(247, 242, 242);
  border-radius: 10px;
  width: 1520px;
  background-color: rgb(40, 101, 150);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 0;
}

select {
  padding: 7px;
  border-radius: 5px;
  margin: 0 auto 2em;
}

h3 {
  font-family: var(--gl-heading-font-set-family-standard-14),
    var(--gl-font-family-fallback);
    color: aliceblue;
    text-align: center;
}

.select-detail {
  display: inline-flex;
}

.genres-section {
  color: aliceblue;
}
