.box {
  position: fixed;
  width:200px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5px;
  margin-left: 60px;
  margin-top:20px;
  background-color: rgb(247, 242, 242);
  border-radius: 10px;
  background-color: rgb(40, 101, 150);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

select {
  padding: 7px;
  border-radius: 5px;
  margin: 0 auto 2em;
}

h3 {
  font-family: var(--gl-heading-font-set-family-standard-14),
    var(--gl-font-family-fallback);
    color: aliceblue;
    text-align: center;
}

.selectDetail {
  margin-left: 35px;
  display: inline-flex;
}

.genres-section {
  color: aliceblue;
}
