.colour {
  color: rgb(236, 39, 39);
  font-family: "Verdana";
  border-color: 1px solid #1a0b0b;
  border-radius: 20px;
}

.btn-form {
  overflow: "hidden";
  white-space:"nowarp";
  text-overflow:"ellipsis"
  /* margin: 20px; */
}

a {
  text-decoration: none;
}

.cartItemsList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cartItemsList li {
  font-size: 1.4rem;
  margin: 1rem 0;
}

.cardMedia:hover {
  cursor: pointer;
  color: rgb(82, 169, 245);
}
