.cards {
  border: 1px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cards:hover {
  border: 1px solid #000;
  transform: translateY();
}

.carousel-img:hover {
  cursor: pointer;
}

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.backGround{
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 1px;    
    background: url('../asset/home.png');
    border-radius: 0px 0px 50px 50px;
}

.backGround h2{
    position: absolute;
    width: 2401px;
    height: 185px;
    left: -359px;
    top: 711px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    font-size: 140px;
    line-height: 24px;
/* or 17% */

/* display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15px; */

/* sport e-commerce/red */

/* color: #40F99B;
} */
