html {
  scroll-behavior: smooth;
}
.cards {
  border: 1px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
  transition: all 0.5s;
}
.cards:hover {
  border: 1px solid #000;
  transform: translateY();
}

.outOfStock {
  /* border: 1px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 1; */
  transition: all 0.5s;
  /* opacity: 1; */
}
.outOfStock:hover {
  /* border: 1px solid #000; */
  transform: translateY();
  opacity: 0.3;
}


.carousel-img:hover {
  cursor: pointer;
}

.scrollingText {
  margin: 0;
  padding: 0;
  height: 100vw;
  overflow-x: hidden;
}

.homeh1{
  color: #40f99b;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
  top: -15rem;
  transform: translateY(-50%);
  white-space: nowrap;
  font-size: 8rem;
  left: 40vw;
}
.button {
  color: black; /* Fallback for older browsers */
  padding: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size:4rem ;
  font-weight: bolder;
  border-width: 0px;
  outline: none;
  border-radius: 5px;
  background: #27ae60/*rgba(0,0,0,0)*/;
  color: #ecf0f1;
  transition: 0.3s;
  margin-bottom: 0;
}

.contactButton{
  margin-top: 2rem;
  background-color: rgba(0,0,0,0.5);
  border-color: #27ae60;
  border-style: solid;
  padding: 10px;
  border-radius: 5px;
  border-width: 2px;
  font-size: 25px;
  color: white;
  width: max-content;
  transition: 0.3s;
}

.contactButton:hover{
  background-color: rgba(0,0,0,0.8);
}

.button:hover,
.button:focus {
  background-color: #008d3b;
}

.stockNoShow {
  visibility: hidden;
}

.buyBtnStock {
  color: red;
  margin-left: 2rem;
  white-space: nowrap;
  background-color: #fff;
  font-size: 1.2rem;
}

.trails:hover {
  cursor: pointer;
}

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.backGround{
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 1px;    
    background: url('../asset/home.png');
    border-radius: 0px 0px 50px 50px;
}

.backGround h2{
    position: absolute;
    width: 2401px;
    height: 185px;
    left: -359px;
    top: 711px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    font-size: 140px;
    line-height: 24px;
/* or 17% */

/* display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15px; */

/* sport e-commerce/red */

/* color: #40F99B;
} */
