.appbar {
  height: 50px;

}

.container {
  display: flex;
  justify-content: space-around;
}

.logo-container {
  margin-bottom: 0.4rem;
}

.options-container {
  display: flex;
}

.options-women,
.options-men,
.options-children,
.options-other {
  margin: 0 1rem;
  /* padding-bottom: 0.3rem; */
  border-bottom: 4px solid transparent;
  transition: all 1s;
}

.options-dropdown-children,
.options-dropdown-women,
.options-dropdown-men,
.options-dropdown-other {
  display: none;
  position: absolute;
  top: 1.4rem;
  color: #000;
  transition: all 3s;
}

.options-dropdown-children ul,
.options-dropdown-women ul,
.options-dropdown-men ul,
.options-dropdown-other ul {
  display: block;
  list-style: none;
  /* border: 1px solid red; */
  background-color: #fdffff;
  padding: 2rem;
  font-size: 1rem;
  line-height: 1.5;
}

.options-dropdown-children ul button,
.options-dropdown-women ul button,
.options-dropdown-men ul button,
.options-dropdown-other ul button {
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  font-family: "Roboto";
  border-bottom: transparent 1px solid;
}

.options-dropdown-children ul button:hover,
.options-dropdown-women ul button:hover,
.options-dropdown-men ul button:hover,
.options-dropdown-other ul button:hover {
  border-bottom: #000 1px solid;
  cursor: pointer;
}
.options-dropdown-women:hover {
  display: block;
}
.options-dropdown-men:hover {
  display: block;
}
.options-dropdown-children:hover {
  display: block;
}
.options-dropdown-other:hover {
  display: block;
}

.options-women:hover + .options-dropdown-women {
  display: block;
}
.options-men:hover + .options-dropdown-men {
  display: block;
}
.options-children:hover + .options-dropdown-children {
  display: block;
}
.options-other:hover + .options-dropdown-other {
  display: block;
}
.options-women:hover,
.options-men:hover,
.options-children:hover,
.options-other:hover {
  border-bottom: 4px solid #000;
  cursor: pointer;
}

.login-container {
 margin: 10px;

}

.login-container .google{
  margin-left: 2rem;
}

.login-container img:hover {
  cursor: pointer;
}

.reset:hover {
  cursor: pointer;
}

.shopping-cart {
  margin-left:0.5rem;
  margin-right:0.5rem;
  margin-top: 0;
  margin-bottom: 0.6rem;
}
.shopping-cart:hover {
  cursor: pointer;
}

.cart-container {
  background-color: rgba(253, 255, 255, 1);
  color: #000;
  position: fixed;
  top: 3.5rem;
  right: 0.2rem;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 0 0 5px #ccc;
  transition: all 2s;
}

.cart-items-list {
  margin: 0;
  padding-inline-start: 0;
}

.cart-delete-icon {
  transition: all 0.3s;
}
.cart-delete-icon:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.cart-delete-all-icon {
  transition: all 0.3s;
}
.cart-delete-all-icon:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

select:hover {
  cursor: pointer;
}

/* .cart-btn-add {
  height: 1.5rem;
  width: 1.5rem;
  background: rgb(78, 132, 71);
  border: none;
  border-radius: 50%;
  margin: 0.5rem 0;
}
.cart-btn-sub {
  
} */
