.appbar {
  height: 50px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.logo-container {
  margin-bottom: 0.4rem;
}

.login-container {
  display: flex;
  align-items: center;
  margin: 0 0rem 1rem 1.3rem;
}

.login-container img:hover {
  cursor: pointer;
}

.reset:hover {
  cursor: pointer;
}

.shopping-cart {
  margin-right: 1.5rem;
}
.shopping-cart:hover {
  cursor: pointer;
}

.cart-container {
  background-color: rgba(253, 255, 255, 1);
  color: #000;
  top: 3.5rem;
  position: absolute;
  padding: 1rem;
  border-radius: 3px;
  transition: all 2s;
}

.cart-items-list {
  margin: 0;
  padding-inline-start: 0;
}

.cart-delete-icon {
  transition: all 0.3s;
}
.cart-delete-icon:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.cart-delete-all-icon {
  transition: all 0.3s;
}
.cart-delete-all-icon:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

select:hover {
  cursor: pointer;
}

/* .cart-btn-add {
  height: 1.5rem;
  width: 1.5rem;
  background: rgb(78, 132, 71);
  border: none;
  border-radius: 50%;
  margin: 0.5rem 0;
}
.cart-btn-sub {
  
} */
