.input-detail {
  background-color: #d9d9d9;
  padding: 4px 50px 4px 4px;
  /* padding-right: 50px;
  padding-bottom: 9px;*/
  border-radius: 2px;
  /* margin-top: 20px; */
  margin-left: 20px;
  border: none;
  width: 165px;
  height: 33px;
}
